
@model Testing_123.Models.Numberses

@{
    ViewBag.Title = "Index";
    int i = 0; int j = 0; int k = 0;    //нумерация массивов для адекватного подсчета в контроллере

    //создание списков select'ов
    List<SelectListItem> BuildTrainUnit = Testing_123.Models.Numberses.BuildTrainUnit;      //для уровней обучающих зданий
    List<SelectListItem> RealTime = Testing_123.Models.Numberses.RealTime;                  //для времени обучени час/сутки/неделя/месяц/год
    List<SelectListItem> WarriorType = Testing_123.Infrastructure.Gallic.WarriorType;       //тип войск для казарм
    List<SelectListItem> HorseType = Testing_123.Infrastructure.Gallic.HorseType;           //тип войск для конюшен
    List<SelectListItem> MechanismType = Testing_123.Infrastructure.Gallic.MechanismType;   //тип войск для мастерских
    List<SelectListItem> ServerType = Testing_123.Models.Numberses.ServerType;              //для типа сервера

}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <table width="80%" border="1" bordercolor="blue">
        <tr>
            <td>
                @Html.DropDownListFor(x => x.serverType, new SelectList(ServerType, "Value", "Text"))
                @Html.EditorFor(x => x.timeNum)
                @Html.DropDownListFor(x => x.time, new SelectList(RealTime, "Value", "Text"))
            </td>
        </tr>
    </table>

    <br />
    <table width="80%" border="1" bordercolor="green">
        <tr>
            <td>
                <div>
                    @Html.DropDownListFor(x => x.ValKaz[i], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKaz[i], new SelectList(WarriorType, "Value", "Text"))
                    @{i++;} <br />
                    @Html.DropDownListFor(x => x.ValKaz[i], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKaz[i], new SelectList(WarriorType, "Value", "Text"))
                    @{i++;} <br />
                    @Html.DropDownListFor(x => x.ValKaz[i], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKaz[i], new SelectList(WarriorType, "Value", "Text"))
                    @{i++;} <br />
                </div>
            </td>
            <td>
                <div>
                    @Html.DropDownListFor(x => x.ValKon[j], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKon[j], new SelectList(HorseType, "Value", "Text"))
                    @{j++;} <br />
                    @Html.DropDownListFor(x => x.ValKon[j], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKon[j], new SelectList(HorseType, "Value", "Text"))
                    @{j++;} <br />
                    @Html.DropDownListFor(x => x.ValKon[j], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeKon[j], new SelectList(HorseType, "Value", "Text"))
                    @{j++;} <br />
                </div>
            </td>
            <td>
                <div>
                    @Html.DropDownListFor(x => x.ValMast[k], new SelectList(BuildTrainUnit, "Value", "Text"))
                    @Html.DropDownListFor(x => x.TypeMast[k], new SelectList(MechanismType, "Value", "Text"))
                    @{k++;} <br />
                </div>
            </td>
        </tr>
    </table>

    <br />
    <table width="80%" border="1" bordercolor="red">
        <tr>
            <td>1 "@Html.ValueFor(u => u.Unit1)"</td>
            <td>2 "@Html.ValueFor(u => u.Unit2)"</td>
            <td>3 "@Html.ValueFor(u => u.Unit3)"</td>
            <td>4 "@Html.ValueFor(u => u.Unit4)"</td>
            <td>5 "@Html.ValueFor(u => u.Unit5)"</td>
            <td>6 "@Html.ValueFor(u => u.Unit6)"</td>
            <td>7 "@Html.ValueFor(u => u.Unit7)"</td>
            <td>8 "@Html.ValueFor(u => u.Unit8)"</td>
        </tr>
    </table>

    
    <div>
        <br />
        <input type="submit" />
    </div>
}

<br />
<br />

<div>
    <div>
        <table width="30%" border="1" bordercolor="green" float="left">
            <tr><td>сводная таблица</td></tr>
            <tr>
                <td>счетчик для казармы</td>
                <td>@i</td>
            </tr>
            <tr>
                <td>счетчик для конюшни</td>
                <td>@j</td>
            </tr>
            <tr>
                <td>счетчик для мастерской</td>
                <td>@k</td>
            </tr>
            <tr>
                <td>Тест 1</td>
                <td>@ViewBag.test1</td>
            </tr>
            <tr>
                <td>Тест 2</td>
                <td>@ViewBag.test2</td>
            </tr>
            <tr>
                <td>Тест 3</td>
                <td>@ViewBag.test3</td>
            </tr>
        </table>
    </div>
    <div>
        <table width="30%" border="1">
            <tr>
                <td>одинарная</td>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>8</td>
            </tr>
            <tr>
                <td>9</td>
                <td>9</td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<br />